node_modules/
src/
tests/
*.log
.DS_Store
.env*
.eslintcache
.eslintrc*
eslint.config.*
.prettierrc*
prettier.config.*
.editorconfig
tsup.config.*
tsconfig*.json
vitest.config.*
coverage/
.idea/
.vscode/
.github/
